name: deploy-mods

on:
  workflow_dispatch:
  push:
    branches:
    - main
    paths:
    - mods.txt
    - .github/workflows/deploy-mods.yml

jobs:
  deploy_mods:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Download mods
      run: |
        cat mods.txt | while read mod_url; do
            wget https://mediafilez.forgecdn.net/files/"$mod_url" -P mods/
        done

    - name: Delete existing mods
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        port: ${{ secrets.SSH_PORT }}
        script: find /data/mods -maxdepth 1 -type f \( -name "*.jar" -o -name "*.zip" \) -delete

    - name: Deploy new mods
      uses: appleboy/scp-action@v1
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        port: ${{ secrets.SSH_PORT }}
        source: mods/
        target: /data/

  restart-server:
    needs: deploy
    uses: ./.github/workflows/restart-server.yml
    secrets: inherit
    with:
      reason: "Mod updates"
