name: docker-compose-01-deploy

on:
  workflow_dispatch:
  workflow_run:
    workflows:
      - docker-compose-00-validate
    types:
      - completed
    branches:
      - main

jobs:
  deploy:
    name: Deploy Docker Compose
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Deploy compose.yml file
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          source: compose.yml
          target: /etc/server
