name: restart-server

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      reason:
        description: "The reason the server is restarting"
        default: "Server maintenance"
        required: false
        type: string
    secrets:
      SSH_HOST:
        required: true
      SSH_USERNAME:
        required: true
      SSH_KEY:
        required: true
      SSH_PORT:
        required: true

jobs:
  restart_server:
    name: Restart Server
    runs-on: ubuntu-latest

    steps:
      - name: Restart Server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
              cmd() {
                  docker exec game-server tmux send-keys -t hytale-session "$1" Enter
              }

              cmd '/eventtitle --title "Server restarting in 30 seconds!" --secondary "Reason: ${{ inputs.reason || 'Server maintenance' }}" --major'
              cmd '/broadcast Server is restarting in 30 seconds! Reason: ${{ inputs.reason || 'Server maintenance' }}'
              sleep 20s
              cmd '/broadcast Server is restarting in 10 seconds!'
              sleep 5s
              cmd '/eventtitle --title "Server restarting in 5 seconds! Reconnect after 50s..." --secondary "Reason: ${{ inputs.reason || 'Server maintenance' }}" --major'
              cmd '/broadcast Restarting in 5...'
              sleep 1s
              cmd '/broadcast 4...'
              sleep 1s
              cmd '/broadcast 3...'
              sleep 1s
              cmd '/broadcast 2...'
              sleep 1s
              cmd '/broadcast 1...'
              sleep 1s

              cmd '/broadcast The server has restarted. If you are still here, disconnect now and reconnect after around 50 seconds.'
              cmd '/stop'
