name: restart-server

on:
  workflow_dispatch:
  workflow_call:

jobs:
  restart_server:
    name: Restart Server
    runs-on: ubuntu-latest

    steps:
      - name: Restart Server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: docker exec game-server tmux send-keys -t hytale-session "/stop" Enter
