name: restart-server

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      reason:
        description: "The reason the server is restarting"
        default: "Server maintenance"
        required: false
        type: string
    secrets:
      SSH_HOST:
        required: true
      SSH_USERNAME:
        required: true
      SSH_KEY:
        required: true
      SSH_PORT:
        required: true

jobs:
  restart_server:
    name: Restart Server
    runs-on: ubuntu-latest

    steps:
      - name: Restart Server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
              run_command() {
                  docker exec game-server tmux send-keys -t hytale-session "$1" Enter
              }

              run_command '/broadcast The server is restarting in 20 seconds! Reason: ${{ inputs.reason || 'Server maintenance' }}'
              sleep 10s
              run_command '/broadcast The server is restarting in 10 seconds!'
              sleep 5s
              run_command '/broadcast Restarting in 5...'
              sleep 1s
              run_command '/broadcast 4...'
              sleep 1s
              run_command '/broadcast 3...'
              sleep 1s
              run_command '/broadcast 2...'
              sleep 1s
              run_command '/broadcast 1...'
              sleep 1s

              run_command '/eventtitle --primary "Server is restarting now! Rejoin in ~30 seconds...\" --major'
              run_command '/stop'
